<header>
    <div class="container">
        <div class="logo"><img src="images/logo.svg" alt="">bmerketo</div>
        <nav id="menu" class="menu-links">
            <a class="link" asp-controller="Home" asp-action="Index">HOME</a>
            <a class="link" asp-controller="Products" asp-action="Index">PRODUCTS</a>
            <a class="link" asp-controller="Contact" asp-action="Index">CONTACT</a>

        <!--Admin page, only visible for logged in administrators-->
            @if (signInManager.IsSignedIn(User) && User.IsInRole("admin"))
            {
                <a class="link" asp-controller="Admin" asp-action="Index">Admin</a>
            }
            
        </nav>
        <nav class="menu-icons">
            <a class="link" asp-controller="Products" asp-action="Search"><i class="fa-regular fa-search"></i></a>

        <!--Shows sign in and sign up if not logged in, and username and sign out if logged in.--> 
            @if(signInManager.IsSignedIn(User))
            {
                <a asp-action="Index" asp-controller="Account" >@User.FindFirst("DisplayName")?.Value</a>
                <a class="link" asp-controller="Account" asp-action="SignOut">SIGN OUT</a>                
            } 
            else
            {
                <a class="link" asp-controller="Account" asp-action="SignUp">SIGN UP</a>
                <a class="link" asp-controller="Account" asp-action="SignIn">SIGN IN</a>
            }
            
            <a class="link" asp-controller="Cart" asp-action="Index"><i class="fa-solid fa-cart-shopping"></i></a>
        </nav>
        <div class="toggle">
            <button class="btn-toggle btn-outline-white" data-option="toggle" data-target="#menu">
                <i id="icon" class="fa-regular fa-bars"></i>
            </button>
        </div>
    </div>
</header>