.admin-user-details {
    text-align: center;
    padding: 100px;
    display: block;

    img {
        width: 270px;
        height: 270px;
        padding: 20px;
        border-radius: 20%;
    }


    form {
        margin-top: 50px;

        h3 {
            font-size: 18px;
        }
    }
}
