

.product-details {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px 0 100px 0;


    .images {
        display: block;


        .main-image {
            width: 501px;
            height: 430px;
        }

        .extra-images {
            padding-top: 5px;

            .extra-image {
                width: 120px;
                height: 113px;
                margin-right: 3px;
            }
        }
    }



    .price {
        padding: 15px 0 15px 0;
        font-weight: bold;
        font-size: 16pt;
    }

    .rating {
        color: $color-yellow;
        padding: 20px 0 20px 0;
    }

    .stock {
        display: flex;
        padding: 15px 0 15px 0;

        .yellow {
            color: $color-yellow;
            padding: 0 5px 0 5px;
        }

        .red {
            color: $color-theme-1;
            padding: 0 5px 0 5px;
        }

        .green {
            color: $color-green;
            padding: 0 5px 0 5px;
        }
    }
}
.extra-info {
    display: flex;
    padding: 20px 0 20px 0;

    .extra-info-text {
        padding-right: 20px;
    }

}

.related-products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 50px 0;
}