@inject AdminService adminService

@model AdminViewModel

@{ ViewData["Title"] = "Admin - Dashboard"; }


<div>
	@foreach(var user in await adminService.GetUsersAsync())
	{
		<div>
			<div>@user.Email 
				(
					@foreach (var roleName in user.RoleNames)
					{
						<span>@roleName</span>
					}
				)
			</div>
		</div>	
	}
</div>
