@model AdminViewModel

@{ ViewData["Title"] = "Admin - Dashboard"; }


<div class="container mt-50">
	<h1>TEST</h1>
	<a class="link" asp-controller="Products" asp-action="AddProduct"> Add new product</a>
</div>
