@inject AdminService adminService



@{ ViewData["Title"] = "Admin - Dashboard"; }



<partial name="/Views/Partials/Forms/_SignUpForm.cshtml" />

<div class="container">
	@foreach(var user in await adminService.GetUsersAsync())
	{
		<div>
			<div>@user.Email 
				(
					@foreach (var roleName in user.RoleNames)
					{
						<span>@roleName</span>
						
					}
				)
			</div>
		</div>	
	}
</div>


