@model ProductsIndexViewModel

@{
	ViewData["Title"] = "Products";

}




@if (Model != null)
{
    <section class="grid-collection">
        <div class="container">


          <h1 class="title">Products</h1>
           

            @if (Model.ProductTags != null)
            {
                <ul class="tags">
                    @foreach (var tag in Model.ProductTags)
                    {
                        <li class="tag-item">@tag</li>
                    }

                </ul>
            }

            @if (Model.Products != null)
            {
                <div class="grid">
                        <partial name="/Views/Partials/_ProductDisplay.cshtml" />                    
                </div>
            }

            @if (Model.LoadMore)
            {
                <div class="load-more">
                    <button class="btn-outline-white">LOAD MORE <i class="fa-solid fa-rotate-right"></i></button>
                </div>
            }


        </div>
    </section> 
    }